.conteiner-generl{
    display: flex;
}
.logo-nav{
   display: flex;
   flex-direction: column; 
   flex-basis: 15%;
   background-color: black;
}
.box-mini{
    height: 200px;
    width: 200px;
    background-color: orangered;
    border: 1px solid white;
}
.box-central{
    display: flex;
    flex-direction: row;
    flex-grow: 100%;
    background-color: blue;
}