.logo-nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.box{
    height: 200px;
    border: 1px solid white;
    background-color: orangered;
}
.box-central{
    display: flex;
    flex-direction: row;

}